# Maven / Build
target/
*.jar
*.war

# Logs
*.log

# OS files
.DS_Store

# Environment
.env

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Eclipse / STS
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/build/
/dist/

# Misc
*.class